<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/main.css" />
        <title>About</title>
    </head>
    <body>
        <header class="main_header">
            <div class="container">
                <div class="main_header__block">
                    <div class="main_header__logo_block">
                        <a href="#">
                            <img
                                class="main_header__logo"
                                src="../imgs/mobile_logo.svg"
                                alt="logo"
                            />
                        </a>
                        <ul class="main_header__list">
                            <li class="main_header__item">
                                <a href="../index.html">home</a>
                            </li>
                            <li class="main_header__item">
                                <a href="#">about</a>
                            </li>
                        </ul>
                    </div>
                    <button class="main_header__menu"></button>
                    <button class="main_header__contact_btn">contact us</button>
                </div>
            </div>
        </header>
        <section class="about_hero">
            <div class="container">
                <div class="about_hero__block">
                    <h2 class="about_hero__title">About</h2>
                    <div class="about_hero__left_block">
                        <span class="about_hero__line"></span>
                        <p class="about_hero__text">
                            We help companies build dynamic teams made up of top
                            global talent. Using our network of passionate
                            professionals we drive innovation and deliver
                            incredible outcomes. Talented, diverse teams shape
                            the best products and experiences. We’ll bring those
                            teams to you.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="meet">
            <div class="container">
                <h2 class="meet__title">Meet the directors</h2>
                <div class="meet__block">
                    <div class="meet__item">
                        <img
                            class="meet__item_img"
                            src="../imgs/meet_humen1.png"
                            alt="img"
                        />
                        <h3 class="meet__item_name">Nikita Marks</h3>
                        <p class="meet__item_sub_title">Founder & CEO</p>
                        <button class="meet__btn"></button>
                    </div>
                    <div class="meet__item">
                        <img
                            class="meet__item_img"
                            src="../imgs/meet_humen1.png"
                            alt="img"
                        />
                        <h3 class="meet__item_name">Nikita Marks</h3>
                        <p class="meet__item_sub_title">Founder & CEO</p>
                        <button class="meet__btn"></button>
                    </div>
                    <div class="meet__item">
                        <img
                            class="meet__item_img"
                            src="../imgs/meet_humen1.png"
                            alt="img"
                        />
                        <h3 class="meet__item_name">Nikita Marks</h3>
                        <p class="meet__item_sub_title">Founder & CEO</p>
                        <button class="meet__btn"></button>
                    </div>
                    <div class="meet__item">
                        <img
                            class="meet__item_img"
                            src="../imgs/meet_humen1.png"
                            alt="img"
                        />
                        <h3 class="meet__item_name">Nikita Marks</h3>
                        <p class="meet__item_sub_title">Founder & CEO</p>
                        <button class="meet__btn"></button>
                    </div>
                    <div class="meet__item">
                        <img
                            class="meet__item_img"
                            src="../imgs/meet_humen1.png"
                            alt="img"
                        />
                        <h3 class="meet__item_name">Nikita Marks</h3>
                        <p class="meet__item_sub_title">Founder & CEO</p>
                        <button class="meet__btn"></button>
                    </div>
                    <div class="meet__item">
                        <img
                            class="meet__item_img"
                            src="../imgs/meet_humen1.png"
                            alt="img"
                        />
                        <h3 class="meet__item_name">Nikita Marks</h3>
                        <p class="meet__item_sub_title">Founder & CEO</p>
                        <button class="meet__btn"></button>
                    </div>
                </div>
            </div>
        </section>
        <section class="clients">
            <div class="container">
                <h2 class="clients__title">Sxome of our clients</h2>
                <ul class="clients__list">
                    <li class="clients__item"><a href="#">THE VARGE</a></li>
                    <li class="clients__item">
                        <a href="#">TheJakartaPost</a>
                    </li>
                    <li class="clients__item">
                        <a href="#">The Buardiam</a>
                    </li>
                    <li class="clients__item"><a href="#">Techradar</a></li>
                    <li class="clients__item"><a href="#">GADGETS</a></li>
                </ul>
            </div>
        </section>
        <section class="start">
            <div class="container">
                <div class="start__block">
                    <h3 class="start__title">Ready to get started?</h3>
                    <button class="start__btn">contact us</button>
                </div>
            </div>
        </section>
        <section class="footer">
            <div class="container">
                <div class="footer__block">
                    <div class="footer__first_block">
                        <div class="footer__content">
                            <div class="footer_logo">
                                <img src="../imgs/mobile_logo.svg" alt="logo" />
                            </div>
                            <ul class="footer__first_list">
                                <li class="footer__first_item">
                                    <a href="../index.html">home</a>
                                </li>
                                <li class="footer__first_item">
                                    <a href="#">about</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="footer__contact_list">
                            <li class="footer__contact_item">
                                <a href="#">987 Hillcrest Lane</a>
                            </li>
                            <li class="footer__contact_item">
                                <a href="#">Irvine, CA</a>
                            </li>
                            <li class="footer__contact_item">
                                <a href="#">California 92714</a>
                            </li>
                            <li class="footer__contact_item">
                                <a href="#">Call Us : 949-833-7432</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__last_block">
                        <ul class="footer__network_list">
                            <li class="footer__network_item">
                                <a href="#"
                                    ><img
                                        src="../imgs/facebook.png"
                                        alt="facebook logo"
                                /></a>
                            </li>
                            <li class="footer__network_item">
                                <a href="#"
                                    ><img
                                        src="../imgs/mail.png"
                                        alt="mail logo"
                                /></a>
                            </li>
                            <li class="footer__network_item">
                                <a href="#"
                                    ><img
                                        src="../imgs/twitter.png"
                                        alt="twitter log"
                                /></a>
                            </li>
                        </ul>
                        <p class="footer__copyright">
                            Copyright 2020. All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
