.slider__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    color: #242424;
    padding-bottom: 32px;
}

.slider_block {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.slider__item {
    position: relative;
    max-width: 200px;
}

.slider__item_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__sub_title {
    position: absolute;
    bottom: 17px;
    left: 16px;
    z-index: 1;
    color: white;
}

.slider_block::after {
    content: "";
    width: 52px;
    height: 52px;
    position: absolute;
    background-image: url("../../assets/right.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    right: -26px;
    top: 50%;
    margin-top: -26px;
}
